@charset "UTF-8";

:root {
    --soft-orange: #e88049;
    --very-soft-orange: #f1af8d;
    --very-dark-red: #570001;
    --transparent-very-dark-red: rgba(87, 0, 1, 0);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--soft-orange);
}

header h1 {
    display: none;
}

header ul {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 0;
}

figure figcaption {
    display: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

.responsive-image {
    /*width: 100%;*/
    text-align: center;
}

.responsive-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#indice h1 {
    margin: 100px 0 0 0;
}

#indice ol li {
    margin-bottom: 20px;
}

#content h1 {
    text-transform: uppercase;
    margin: 100px 0 0 0;
}

#content h2 {
    text-transform: uppercase;
}

#content .block {
    /*margin: 0 auto;*/
}

#content .block p:last-child a {
    font-weight: bold;
    background-color: var(--soft-orange);
    padding: 10px;
    border-radius: 5px;
}

.block {
    border-radius: 2px;
    max-width: 1005px;
    margin: 20px 0;
    padding: 5px 10px;
    display: block;
    /*border: solid 1px orange;*/
    background-color: var(--very-soft-orange);
}

.block h2, .block h3 {
    text-align: center;
}

.block h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.block p {
    text-align: justify;
}

.block figure {
    margin: 0 0 10px;
}

.block em {
    font-weight: bold;
    text-decoration: underline;
}

.raid-mode ul.main-ul {
    list-style: none;
    padding-left: 0;
}

.raid-mode ul.main-ul li.main-li {
    font-weight: bold;
    margin-top: 0.5em;
}

/*
.block img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}*/

.back-to-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: 1px solid #fff;
    outline: 0;
    background-color: var(--transparent-very-dark-red);
    color: #fff;
    cursor: pointer;
    padding: 10px 9px 12px;
    border-radius: 5px;
    font-size: 16px;
}

.back-to-top:hover {
    border: 1px solid #fff;
    background-color: var(--transparent-very-dark-red);
    color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}